body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
}

#world {
  position: relative;
  width: 800px;
  height: 600px;
  background: #3cb043;
  border: 3px solid black;
}

#player {
  position: absolute;
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}

#tree {
  position: relative;
  width: 10px;
  height: 10px;
  image-rendering: pixelated;
}

#water {
  position: relative;
  width: 10px;
  height: 10px;
  image-rendering: pixelated;
}

#cow {
  position: relative;
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}
